---
import { SUBTITLES } from "$consts";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allChapters = await getCollection("book");
allChapters.sort((a, b) => a.data.chapter - b.data.chapter);
const bookNumbers = allChapters.map((chapter) => chapter.data.book);
const uniqueBookNumbers = [...new Set(bookNumbers)];
uniqueBookNumbers.sort((a, b) => a - b);
---

<BaseLayout>
  <main class="m-5 font-serif">
    {
      uniqueBookNumbers.map((bookNum) => (
        <div>
          <h1 class="text-3xl font-bold mb-5">
            Book {bookNum}: {SUBTITLES[bookNum] || "Unknown"}
          </h1>
          <div class="flex">
            {allChapters
              .filter((chapter) => chapter.data.book === bookNum)
              .map((chapter) => (
                <a href={`/book/${chapter.id}`}>
                  <div class="card bg-neutral text-neutral-content w-96 shadow-xl">
                    <figure>
                      <img src={`/assets/${chapter.data.art}`} alt="Shoes" />
                    </figure>
                    <div class="card-body">
                      <h2 class="card-title">{chapter.data.title}</h2>
                    </div>
                  </div>
                </a>
              ))}
          </div>
        </div>
      ))
    }
  </main>
</BaseLayout>
