---
const today = new Date();
import { SITE_OWNER } from "$consts";
import { Icon } from "astro-icon/components";
---

<footer class="p-2 text-center">
  &copy; {today.getFullYear()}
  {SITE_OWNER}. All rights reserved.
  <div class="flex justify-center gap-2 mt-2">
    <a href="https://kebbuck.tumblr.com" target="_blank">
      <span class="sr-only">Find me on Tumblr</span>
      <Icon width="32" height="32" name="fa-brands:tumblr" />
    </a>
  </div>
</footer>
