---
const today = new Date();

import { Icon } from "astro-icon/components";
import { site } from "$consts";
---

<footer class="p-2 text-center">
  &copy; {today.getFullYear()}
  {site.owner}. All rights reserved.
  <div class="mt-2 flex justify-center gap-2">
    <a href="https://kebbuck.tumblr.com" target="_blank">
      <span class="sr-only">Find me on Tumblr</span>
      <Icon width="32" height="32" name="fa-brands:tumblr" />
    </a>
  </div>
</footer>
