---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import Navigation from "@components/Navigation.astro";
import Analytics from "@vercel/analytics/astro";
import { site } from "$consts";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title ? `${title} - ${site.title}` : site.title}
      description={description || site.description}
    />
  </head>
  <body>
    <Navigation title={title}><slot /><Footer /></Navigation>
    <Analytics />
  </body>
</html>
